{%extends 'base.html'%}

{%block body%}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {%else%}
            <a class="btn btn-default" href="{% url 'post:post_publish' pk=post.pk%}">Publish</a>
        {% endif %}
        {%if user.is_authenticated and user == post.author%}
            <a class="btn btn-default" href="{% url 'post:post_edit' pk=post.pk %}"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
            </svg></a>
            
            <a class="btn btn-default" href="{% url 'post:post_remove' pk=post.pk %}">Delete</a>
        {%endif%}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>

    <hr>
    <a class="btn btn-default" href="{% url 'post:add_comment_to_post' pk=post.pk %}">Add comment</a>
    {% for comment in post.comments.all %}
        <div class="comment">
            <div class="date">
            {{comment.created_date}}</div>
            <strong>{{comment.author}}</strong>
            <p>{{comment.text | linebreaksbr}}</p>
        </div>
    {%empty%}
        <p>No comment here yet: </p>
    {% endfor %}


{%endblock%}